---
import { Image } from 'astro:assets';
import Logo from '../../public/favicon.svg';
---

<nav class="grid place-content-center">
    <Image
    src={Logo}
    alt="Rdap Snake"
    fetchpriority="high"
    loading="eager"
    class="w-7"
    />
</nav>

<style>
    nav {
        margin-top: 1rem;
    }
</style>