---
---

<section class="copyright flex items-center justify-center rdap-font-g">
    &copy; {new Date().getFullYear()} Rdap. All rights reserved.
</section>

<style>
    .copyright {
        color: #ffffff70;
        font-size: .6rem;
        margin-top: 2rem;
    }
</style>