---
---

<div class="flex flex-wrap items-center justify-center gap-4 w-fit">
    <a href="https://rdaphq.com/discord" aria-label="Rdap on Discord"><i class="fi fi-brands-discord"></i></a>
    <a href="https://g.dev/rdap" aria-label="Rdap on Google for Developers"><i class="fi fi-brands-google"></i></a>
    <a href="https://github.com/rdaphq" aria-label="Rdap on GitHub"><i class="fi fi-brands-github"></i></a>
    <a href="https://x.com/RdapHQ" aria-label="Rdap on X (formerly Twitter)"><i class="fi fi-brands-twitter-alt"></i></a>
    <a href="https://rdaphq.com/spotify" aria-label="Rdap on Spotify"><i class="fi fi-brands-spotify"></i></a>
    <a href="https://instagram.com/rdaphq" aria-label="Rdap on Instagram"><i class="fi fi-brands-instagram"></i></a>
</div>

<style>
    div {
        padding: 1.3rem 2rem;
        border-radius: 4rem;
    }

    a {
        line-height: 0;
    }

    i {
        line-height: 0;
        transition: color .2s ease, translate .2s ease;
        font-size: 2.5rem;
        color: #fff;
    }

    i:hover {
        color: #0073ee;
        filter: drop-shadow(0 0 .3rem #0073ee);
        transform: translateY(-8px);
    }
</style>